html {
    box-sizing: border-box;
}

::before,
::after,
* {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #9C914F;
    font-family: "Times New Roman", sans-serif;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    margin: 32px 0;
}

ul li a {
    font-size: 22px;
}

ul{
    display: block;
    max-width: 200px;
    margin: auto;
}

